<title>Fixed Deposit Customer Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <div class="container-fluid">
        <h1 style="text-align: center;font-size: 50px;color:black;">FD AND GOLD LOAN MANAGEMENT</h1><br>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" routerLink="/addadmin">Add Admin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/glcalculator">Gold Loan Calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/fdcalculator">Fixed Deposit Calculator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/fdcustomer">Fixed Deposit Customer Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/glcustomer">Gold Loan Customer Management</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/report">Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/adminlogin">Logout</a>
          </li>
        </ul><br><br><br>
        <h3 style="color:maroon;">Admin Logged in...</h3>
        <div style="padding:3% 3%;margin: auto;background-color:lightgoldenrodyellow;">
        <div class="container-fluid">
          <h1 style="text-align: center;">FIXED DEPOSIT CUSTOMER MANAGEMENT</h1><br>
          <div style="margin:auto;border:4px solid white;border-radius:5px;padding: 10px;">
            <form action="#" method="post">
                <h3 style="text-align: center;">Fixed Deposit Customer Details(All information required*)</h3><br><br>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fdcid">FD Customer Id:</label><br>
                        <input type="number" class="form-control" [(ngModel)]="fdcustomer.fdcid" placeholder="Enter FD Customer Id while updating Only" id="fdcid" name="fdcid">
                      </div><br>
                      <div class="form-group">
                        <label for="fname">First Name:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.firstname" placeholder="Enter First Name" id="fname" name="fname" required>
                      </div><br>
                      <div class="form-group">
                        <label for="lname">Last Name:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.lastname" placeholder="Enter Last Name" id="lname" name="lname" required>
                      </div><br>
                      <div class="form-group">
                        <label for="upload">Upload Photo with Customer Name:</label><br>
                      <div class="row">
                        <div class="col-8">
                          <label class="btn btn-default p-0">
                            <input type="file" (change)="selectFile($event)"/>
                          </label>
                        </div>
                      
                        <div class="col-4">
                          <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
                            Upload
                          </button>
                        </div>
                      </div>
                      
                      <div *ngIf="currentFile" class="progress my-3">
                        <div
                          class="progress-bar progress-bar-info progress-bar-striped"
                          role="progressbar"
                          attr.aria-valuenow="{{ progress }}"
                          aria-valuemin="0"
                          aria-valuemax="100"
                          [ngStyle]="{ width: progress + '%' }"
                        >
                          {{ progress }}%
                        </div>
                      </div>
                      
                      <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
                      
                    
                      </div>
                      <div class="form-group">
                        <label for="address">Address:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.address" placeholder="Enter Address" id="address" name="address" required>
                      </div><br>
                      <div class="form-group">
                        <label for="dob">Date Of Birth:</label><br>
                        <input type="date" class="form-control" [(ngModel)]="fdcustomer.dob" placeholder="Enter Date of Birth" id="dob" name="dob" required>
                      </div><br>
                      <div class="form-group">
                        <label for="pan">PAN Card Number:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.pan" placeholder="Enter PAN Card Number" id="pan" name="pan" required>
                      </div><br>
                      <div class="form-group">
                        <label for="gender">Gender:</label><br>
                        <select name="gender" id="gender" class="custom-select" [(ngModel)]="fdcustomer.gender" required>
                          <option selected value="male">Male</option>
                          <option value="female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                    </div><br>

                </div>
                <div class="col-sm-4">

                    <div class="form-group">
                        <label for="kyc">Know Your Customer:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.kyc" placeholder="Enter Know Your Customer" id="kyc" name="kyc" required>
                      </div><br>
                    <div class="form-group">
                        <label for="email">Email:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.email" placeholder="Enter Email" id="email" name="email" required>
                      </div><br>
                      <div class="form-group">
                        <label for="date">Date Of Opening Fixed Deposit Account:</label><br>
                        <input type="date" class="form-control" [(ngModel)]="fdcustomer.date" placeholder="Enter Date Of Opening Fixed Deposit Account" id="date" name="date" required>
                      </div><br>
                      <div class="form-group">
                        <label for="month">Month Of Opening Fixed Deposit Account:</label><br>
                        <input type="month" class="form-control" [(ngModel)]="fdcustomer.month" placeholder="Enter Month Of Opening Fixed Deposit Account" id="month" name="month" required>
                      </div><br>
                      <div class="form-group">
                        <label for="year">Year Of Opening Fixed Deposit Account:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.year" placeholder="Enter Year Of Opening Fixed Deposit Account" id="year" name="year" required>
                      </div><br>
                      <div class="form-group">
                        <label for="phone">Phone Number:</label><br>
                        <input type="tel" class="form-control" [(ngModel)]="fdcustomer.phone" placeholder="Enter Phone Number" pattern="[0-9]{10}" id="phone" name="phone" required>
                      </div><br>
                      <div class="form-group">
                        <label for="joinapplicant">Join Applicant Details:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.joinapplicant" placeholder="Enter Join Applicant Details" id="joinapplicant" name="joinapplicant" required>
                      </div><br>
                      <div class="form-group">
                        <label for="principal">Deposited Amount:</label><br>
                        <input type="number" class="form-control" [(ngModel)]="fdcustomer.principal" placeholder="Enter Deposited Amount" id="principal" name="principal" required>
                      </div><br>
                      <div class="form-group">
                        <label for="period">Time Period For which Amount is Deposited(in Months):</label><br>
                        <input type="number" class="form-control" [(ngModel)]="fdcustomer.period" placeholder="Enter Time Period For which Amount is Deposited(in Months)" id="period" name="period" required>
                      </div><br>  
                                         
                </div>
                <div class="col-sm-4">
                    
                    <div class="form-group">
                        <label for="nominee">Nominee:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.nominee" placeholder="Enter Nominee" id="nominee" name="nominee" required>
                      </div><br>
                      <div class="form-group">
                        <label for="rate">Rate Of Interest:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.rate" placeholder="Enter Rate Of Interest" id="rate" name="rate" required>
                      </div><br>
                      <button class="btn btn-info" style="width:50%;font-size:10px;color:white;" (click)="calculate(fdcustomer.principal,fdcustomer.rate,fdcustomer.period)">Calculate Amount</button><br>
                      <div class="form-group">
                        <label for="payout">Interest Payout:</label><br>
                        <select name="payout" id="payout" class="custom-select" [(ngModel)]="fdcustomer.payout" required>
                          <option selected value="monthly">Monthly</option>
                          <option value="quarterly">Quarterly</option>
                        </select>
                    </div><br>
                      <div class="form-group">
                        <label for="amountavailable">Amount Available in Account:</label><br>
                        <input type="number" class="form-control" [(ngModel)]="fdcustomer.amountavailable" placeholder="Amount Available in Account" id="amountavailable" name="amountavailable" required>
                      </div><br>
                      <div class="form-group">
                        <label for="amountwithdrawn">Amount Withdrawn:</label><br>
                        <input type="number" class="form-control" [(ngModel)]="fdcustomer.amountwithdrawn" placeholder="Enter Amount Withdrawn" id="amountwithdrawn" name="amountwithdrawn" required>
                      </div><br>
                      <button class="btn btn-info" style="width:50%;font-size:10px;color:white;" (click)="balance(fdcustomer.amountavailable,fdcustomer.amountwithdrawn)">Calculate Balance Amount</button><br>
                      <div class="form-group">
                        <label for="amountwithdrawndate">Amount Withdrawn Date:</label><br>
                        <input type="date" class="form-control" [(ngModel)]="fdcustomer.amountwithdrawndate" placeholder="Enter Amount Withdrawn Date" id="amountwithdrawndate" name="amountwithdrawndate" required>
                      </div><br>
                      <div class="form-group">
                        <label for="balance">Balance Amount:</label><br>
                        <input type="number" class="form-control" [(ngModel)]="fdcustomer.balance" placeholder="Enter Balance Amount" id="balance" name="balance" required>
                      </div><br>
                      <div class="form-group">
                        <label for="status">Status:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="fdcustomer.status" placeholder="Enter Status" id="status" name="status" required>
                      </div><br>        
                </div>
            </div><br><br><br>



            <label for="st">Certificate To Print:</label><br>
            <div class="form-group" id="demo">
              <div style="padding: 5%;border:7px solid red;background-color: gold;">
                <h1 style="text-align: center;text-decoration: underline;">FIXED DEPOSIT CERTIFICATE</h1><br>
                <h4 style="text-align: center;">This is to Certify that </h4>
                <h4 style="text-align: center;">{{fdcustomer.firstname }} {{fdcustomer.lastname}} </h4>
                <h4 style="text-align: center;">has deposited an amount in </h4>
                <h4 style="text-align: center;"> Rivo Urban Nidhi Ltdl</h4>
                <h4 style="text-align: center;">and is obliged to get the interest for the given time. </h4>
              </div>
            </div><br><br>



            <input type="submit" class="btn btn-primary" style="width:30%;font-size:30px;background-color:blue;color:white;" value="Register" (click)="fdcustomerNow()">
            <input type="submit" class="btn btn-success" style="width:30%;font-size:30px;background-color:coral;color:white;" value="Update" (click)="updateFdcustomerNow()">
            <input type="submit" class="btn btn-success" style="width:30%;font-size:30px;background-color:green;color:white;" value="Print Certificate" (click)="printComponent()"><br>
            </form>            
        </div><br><br><br>
        <div class="card mt-3">
            <div class="card-header text-center">List of Uploaded Photo Files with Customer Name</div>
            <ul
              class="list-group list-group-flush"
              *ngFor="let file of fileInfos | async"
            >
              <li class="list-group-item">
                <a href="{{ file.url }}">{{ file.name }}</a>
              </li>
            </ul>
          </div><br><br>
        <h3 style="text-align: center;">List of FD Customers</h3>
                <br>
                <table class="table table-dark table-responsive">
                  <thead>
                  <tr>
                      <th>FDCID</th>
                      <th>FirstName</th>
                      <th>LastName</th>
                      <th>Address</th>
                      <th>Date Of Birth</th>
                      <th>PAN</th>
                      <th>Gender</th>
                      <th>KYC</th>
                      <th>Email</th>
                      <th>Date of Opening Acc</th>
                      <th>Month of Opening Acc</th>
                      <th>Year of Opening Acc</th>
                      <th>Phone</th>
                      <th>Join Applicant</th>
                      <th>Deposit Amount</th>
                      <th>Time Period in Month</th>
                      <th>Nominee</th>
                      <th>Rate Of Interest</th>
                      <th>Interest Payout</th>
                      <th>Amount Available</th>
                      <th>Amount Withdrawn</th>
                      <th>Amount Withdrawn Date</th>
                      <th>Balance Amount</th>
                      <th>Status</th>
                      <th>Delete</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let fdcustomer of fdcustomers">
                      <td>{{fdcustomer.fdcid}}</td>
                      <td>{{fdcustomer.firstname}}</td>
                      <td>{{fdcustomer.lastname}}</td>
                      <td>{{fdcustomer.address}}</td>
                      <td>{{fdcustomer.dob}}</td>
                      <td>{{fdcustomer.pan}}</td>
                      <td>{{fdcustomer.gender}}</td>
                      <td>{{fdcustomer.kyc}}</td>
                      <td>{{fdcustomer.email}}</td>
                      <td>{{fdcustomer.date}}</td>
                      <td>{{fdcustomer.month}}</td>
                      <td>{{fdcustomer.year}}</td>
                      <td>{{fdcustomer.phone}}</td>
                      <td>{{fdcustomer.joinapplicant}}</td>
                      <td>{{fdcustomer.principal}}</td>
                      <td>{{fdcustomer.period}}</td>
                      <td>{{fdcustomer.nominee}}</td>
                      <td>{{fdcustomer.rate}}</td>
                      <td>{{fdcustomer.payout}}</td>
                      <td>{{fdcustomer.amountavailable}}</td>
                      <td>{{fdcustomer.amountwithdrawn}}</td>
                      <td>{{fdcustomer.amountwithdrawndate}}</td>
                      <td>{{fdcustomer.balance}}</td>
                      <td>{{fdcustomer.status}}</td>
                      <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delFdcustomer(fdcustomer.fdcid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                  </tr>
                  </tbody>
              </table><br><br>
              <div class="form-group">
                <label for="search">Search By FDCId:</label><br>
                <input type="number" class="form-control" [(ngModel)]="search.a" placeholder="Search By FDCID" id="search" name="search"><br>
                <button class="btn btn-info btn-xs" (click)="searchById(search.a)"><span class="glyphicon glyphicon-remove"></span> Search</button><br>
              </div><br>
              <table class="table table-dark table-responsive">
                <tr>
                    <th>FDCID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Address</th>
                    <th>Date Of Birth</th>
                    <th>PAN</th>
                    <th>Gender</th>
                    <th>KYC</th>
                    <th>Email</th>
                    <th>Date of Opening Acc</th>
                    <th>Month of Opening Acc</th>
                    <th>Year of Opening Acc</th>
                    <th>Phone</th>
                    <th>Join Applicant</th>
                    <th>Deposit Amount</th>
                    <th>Time Period in Month</th>
                    <th>Nominee</th>
                    <th>Rate Of Interest</th>
                    <th>Interest Payout</th>
                    <th>Amount Available</th>
                    <th>Amount Withdrawn</th>
                    <th>Amount Withdrawn Date</th>
                    <th>Balance Amount</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
                    <tr >
                        <td>{{fdcustomer.fdcid}}</td>
                        <td>{{fdcustomer.firstname}}</td>
                        <td>{{fdcustomer.lastname}}</td>
                        <td>{{fdcustomer.address}}</td>
                        <td>{{fdcustomer.dob}}</td>
                        <td>{{fdcustomer.pan}}</td>
                        <td>{{fdcustomer.gender}}</td>
                        <td>{{fdcustomer.kyc}}</td>
                        <td>{{fdcustomer.email}}</td>
                        <td>{{fdcustomer.date}}</td>
                        <td>{{fdcustomer.month}}</td>
                        <td>{{fdcustomer.year}}</td>
                        <td>{{fdcustomer.phone}}</td>
                        <td>{{fdcustomer.joinapplicant}}</td>
                        <td>{{fdcustomer.principal}}</td>
                        <td>{{fdcustomer.period}}</td>
                        <td>{{fdcustomer.nominee}}</td>
                        <td>{{fdcustomer.rate}}</td>
                        <td>{{fdcustomer.payout}}</td>
                        <td>{{fdcustomer.amountavailable}}</td>
                        <td>{{fdcustomer.amountwithdrawn}}</td>
                        <td>{{fdcustomer.amountwithdrawndate}}</td>
                        <td>{{fdcustomer.balance}}</td>
                        <td>{{fdcustomer.status}}</td>
                        <td class="text-center"><button class="btn btn-danger btn-xs" (click)="delFdcustomer(fdcustomer.fdcid)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
                </tr>
            </table>

        </div>
        </div>
    </div>


